$xlarge-breakpoint: 1500px;
$large-breakpoint: 1200px;
$mediumlarge-breakpoint: 1000px;
$medium-breakpoint: 700px;


/* font size variables  */
/* $fs-xl: 2rem;
$fs-600: 2.4rem;
$fs-500: 2.25rem;
$fs-400: 1rem;
 */