$xlarge-breakpoint: 1500px;
$large-breakpoint: 1200px;
$mediumlarge-breakpoint: 1000px;
$medium-breakpoint: 700px;


/* font size variables  */
$fs-xl: clamp(2.5rem, 6vw + 1rem, 6rem);
$fs-800: 1.8rem;
$fs-600: 1.2rem;
$fs-500: 1.1rem;
$fs-400: 1rem;
 