---
import BaseLayout from "../layout/BaseLayout.astro";
import "@fontsource-variable/heebo";
import "@fontsource-variable/rokkitt";
import "@fontsource-variable/oswald";
---

<BaseLayout activeHref={"/about"}>
  <div slot="main" class="about">
    <h1 class="about__title">Welcome</h1>
    <p class="about__bread-text">
      This is my webshop, where the focus is on both appearance and
      functionality.
    </p>
    <div class="about__unique-parent">
      <p class="about__unique-text">
        The name "BAKA" is inspired by the Japanese word meaning "fool."
      </p>
    </div>

    <p class="about__bread-text">
      About two years ago, I started this project with the goal of learning the
      basics of HTML and CSS through a school assignment.
    </p>

    <p class="about__bread-text">
      Over the course of a month, I had the freedom to create something entirely
      on my own, and the result was a design I was very satisfied with.
    </p>

    <p class="about__header">Refactoring</p>
    <p class="about__bread-text">
      Now, two years later, I felt it was time to improve and further develop
      the project to achieve an even better final result.
    </p>
    <p class="about__bread-text">
      I decided to modernize and restructure the entire website by rewriting the
      code in Astro. <br />
      <br /> The goal was to refresh the design, enhance performance, and make the
      code flow more readable. Although the webshop is relatively simple, I wanted
      to focus on details and craftsmanship. <br /><br /> During the update, I chose
      to implement a database to manage all product content more efficiently. Given
      the project's size, I found that SQLite was the perfect choice for high performance
      with a smaller data set. To handle database communication, I opted for Drizzle.
    </p>

    <p class="about__header">SCSS and Styling</p>
    <p class="about__bread-text">
      When it came to styling, I upgraded my CSS to SCSS to structure my
      elements more efficiently. <br />
      <br />However, during the process, I realized that the code became
      difficult to read and cluttered.  <br /> <br> After some research, I decided to use BEM
      (Block, Element, Modifier) as a method to create reusable components and
      maintain a cleaner code structure. <br />
      <br /> This approach resulted in a clearer and more streamlined design.
    </p>
    <p class="about__header">Link to code</p>
    <p class="about__bread-text">
     Check out my <a class="about__link-to" href="https://github.com/Fiaevanna/bakaupdated">github </a>
    </p>
  </div>
</BaseLayout>
<!-- $fs-xl -->
<style lang="scss">
  @import "../styles/_variables.scss";

  .about {
    line-height: 1.3;

    &__header {
      font-size: $fs-500;
      text-transform: uppercase;
      color: #5e4c38;
      font-weight: bold;
      margin-top: 45px;
    }
    &__title {
      display: flex;
      flex-direction: column;
      font-size: $fs-xl;
      text-transform: uppercase;
      color: #5e4c38;
      margin-bottom: 20px;
    }
    &__unique-parent {
      display: flex;
      justify-content: center;
      
    }
    &__unique-text {
      font-size: 18px;
      text-wrap: balance;
      font-weight: bold;
      color: #554534;
      background-color: rgb(241, 231, 215);
      padding: 15px;
      margin-top: 0px;
    }
    &__bread-text {
      font-family: "Rokkitt Variable", serif;
      font-size: $fs-600;
      text-wrap: balance;
    }

    &__link-to{
        text-decoration: underline;
        color: rgb(45, 45, 153);
    }
  }
</style>

