---
export const prerender = false;
import BaseLayout from "../layout/BaseLayout.astro";
import "@fontsource-variable/heebo";
import "@fontsource-variable/rokkitt";
import "@fontsource-variable/oswald";
import Button from "../components/Button.astro";

const errors = { order: "", email: "", message: "" };
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const order = data.get("order");
    const email = data.get("email");
    const message = data.get("message");
    console.log(data);
    if (order && typeof order !== "string") {
      errors.order += "Please enter correcct order number.";
    }
    if (typeof email !== "string") {
      errors.email += "Please enter an email.";
    }
    if (typeof message !== "string" || message.length < 5) {
      errors.message += "Please fill out full message.";
    }
    const hasErrors = Object.values(errors).some((msg) => msg);
    if (!hasErrors) {
      return Astro.redirect("/success");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<BaseLayout activeHref={"/contact"}>
  <div slot="main" class="layout">
    <div class="contact">
      <h1 class="contact__header">Contact Us</h1>
      <p class="contact__info-text">
        Fill out the form below and we'll get back to you as soon as possible.
      </p>
      <div class="contact__box">
        <form method="POST">
          <div class="contact__form-group-container">
            <div class="contact__form-group">
              <label for="order" class="contact__form-label">Order number</label
              >
              <input
                id="order"
                name="order"
                class="contact__form-input"
                placeholder="Your order number (optional)"
                type="text"
              />
              {errors.order && <p>{errors.order}</p>}
            </div>
            <div class="contact__form-group">
              <label for="email" class="contact__form-label">Email</label>
              <input
                id="email"
                required
                name="email"
                class="contact__form-input"
                placeholder="Your email (required)"
                type="email"
              />
              {errors.email && <p>{errors.email}</p>}
            </div>

            <div class="contact__form-group">
              <label for="message" class="contact__form-label">Message</label>
              <textarea
                class="contact__form-textarea"
                id="message"
                required
                name="message"
                placeholder="Your message (required)"></textarea>
              {errors.message && <p>{errors.message}</p>}
            </div>
          </div>

          <Button class="contact__form-submit">Send Message</Button>
        </form>
      </div>
    </div>
  </div>

  <style lang="scss">
    @import "../styles/_variables.scss";

    .contact {
      &__box {
        width: 100%;
        box-sizing: border-box;
        height: 500px;
        margin-bottom: 40px;
      }

      &__header {
        color: #554534;
        text-transform: uppercase;
        font-size: $fs-xl;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      &__info-text {
        font-size: $fs-600;
        font-family: "Rokkitt Variable", serif;
      }
      /* Form */
      &__form-group-container {
        display: grid;
        gap: 2rem;
        margin-top: 2rem;
        color: $header-color;
        font-size: $fs-500;
        font-weight: bold;
      }

      &__form-group {
        display: flex;
        flex-direction: column;
      }

      &__form-label {
        margin-bottom: 0.5rem;
      }

      &__form-input,
      &__form-textarea {
        padding: 0.5rem;
        border: 1px solid #000000;
        background-color: #ffffff;
        box-sizing: border-box;
        display: flex;
        height: 2.5rem;
        width: 100%;
        border-radius: 0.375rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
      &__form-textarea {
        min-height: 120px;
      }

      &__form-submit {
        font-family: "Rokkitt Variable", serif;
        width: 100%;
        margin-top: 1.2rem;
        background-color: #f5f4fa;
        color: #554534;
        font-size: $fs-500;
        font-weight: bold;
        padding: 13px 5px;
        border-radius: 0.375rem;
      }
    }
    @media (min-width: $smallmedium-breakpoint) {
      .contact {
        max-width: 1000px;
        margin: $marginTB;
      }
    }
  </style>
</BaseLayout>
