---
import Footer from "../components/Footer.astro";

// KOD
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Clothes For "BAKA"</title>
  </head>
  <body>
    <Footer />
  </body>
</html>

<style>
  body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>
