---
import { Image } from "astro:assets";
import footerCat from "../assets/images/hiroshi/nyhiroshi.png";
import "@fontsource/rubik-wet-paint";
---

<footer>
  <nav>
    <a class="active" href="/">Home</a>
    <a href="/Products">Products</a>
    <a href="/AboutUs">About us</a>
    <a href="/ContactUs">Contact us</a>
    <a href="/Cart">Cart</a>
  </nav>
  <section>
    <h2>Clothes for “BAKA”</h2>
    <Image class="image" src={footerCat} alt="Image of cat" height="40" />
  </section>
</footer>

<style>
  footer {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding: 10px;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  nav {
    display: flex;
    gap: 15px;
    min-width: 300px;
  }
  nav :active {
    text-decoration: underline;
  }


  a {
    color: #ffffff;
    mix-blend-mode: difference;
    text-decoration: none;

    font-size: 13px;
  }

  h2 {
    font-family: "Rubik Wet Paint", serif;
    color: #ffffff;
    font-weight: 100;
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  p {
    color: #ffffff;
    mix-blend-mode: difference;
    font-size: 10px;
  }

  .image {
    opacity: 0.6;
  }
</style>
