---
import { Image } from "astro:assets";
import footerCat from "../assets/images/hiroshi/nyhiroshi.png";
import "@fontsource/rubik-wet-paint";

const { activeHref } = Astro.props;

const navItems = [
  {
    title: "Home",
    href: "/",
  },
  {
    title: "Products",
    href: "/products",
  },
  {
    title: "About",
    href: "/about",
  },
  {
    title: "Contact",
    href: "/contact",
  },
  {
    title: "Cart",
    href: "/cart",
  },
];
---

<footer class="footer">
  <nav class="footer__nav">
    {
      navItems.map((item) => (
        <a
          class:list={[
            "footer__nav-item",
            { ["footer__nav-item--active"]: activeHref === item.href },
          ]}
          href={item.href}
        >
          {item.title}
        </a>
      ))
    }
  </nav>

  <h2 class="footer__title">Clothes for “BAKA”</h2>
  <Image class="footer__image" src={footerCat} alt="Image of cat" height="40" />
</footer>

<style lang="scss">
  .footer {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding: 15px 10px;
    gap: 15px;
    &__nav {
      display: flex;
      justify-content: space-between;
      min-width: 300px;
    }

    &__nav-item {
      color: #ffffff;
      mix-blend-mode: difference;
      text-decoration: none;
      font-size: 14px;

      &--active {
        text-decoration: underline;
      }
    }

    &__title {
      font-family: "Rubik Wet Paint", serif;
      color: #ffffff;
      font-weight: 100;
      mix-blend-mode: difference;
      display: flex;
      justify-content: center;
      margin: 0px;
    }

    &__image {
      opacity: 0.6;
    }
  }
</style>
