---
import headerImage from "../assets/images/headerprofile/header.png";
import "@fontsource/rubik-wet-paint";

const { activeHref } = Astro.props;

const navItems = [
  {
    title: "Home",
    href: "/",
  },
  {
    title: "Products",
    href: "/products",
  },
  {
    title: "About",
    href: "/about",
  },
  {
    title: "Contact", 
    href: "/contact",
  },
  {
    title: "Cart",
    href: "/cart",
  },
];
---

<header class="header">
  <div class="header__content">
    <nav class="header__nav">
      {
        navItems.map((item) => (
          <a
            class:list={[
              "header__nav-item",
              { ["header__nav-item--active"]: activeHref === item.href },
            ]}
            href={item.href}
          >
            {item.title}
          </a>
        ))
      }
    </nav>
    <h1 class="header__title">Clothes for "BAKA"</h1>
    <div class="header__cta">
      <slot />
    </div>
  </div>
  <div class="header__image">
    <img src={headerImage.src} alt="Header background image" />
  </div>
</header>

<style lang="scss">
  .header {
    position: relative;
    padding-top: 10px;

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
      }
    }

    &__content {
      display: flex;
      z-index: 1;
      position: relative;
      flex-direction: column;
      align-items: center;
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      min-width: 350px;
    }

    &__nav-item {
      color: #ffffff;
      font-weight: bold;
      text-decoration: none;
      margin-top: 10px;
      font-size: 17px;

      &--active {
        text-decoration: underline;
      }
    }

    &__title {
      font-family: "Rubik Wet Paint", serif;
      font-size: 30px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ccccc6;
    }

    &__cta {
      position: relative;
      top: 10px;
    }
  }
</style>
