---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { activeHref } = Astro.props;
interface Props {
  class?: string;
  activeHref?: string;
}
const { class: extraClass, ...rest } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Clothes For "BAKA"</title>
  </head>
  <body>
    <Header activeHref={activeHref}>
      <slot name="header-cta" />
    </Header>
    <main class:list={["button", extraClass]} {...rest}>
      <slot name="main" />
    </main>
    <Footer activeHref={activeHref} />
  </body>
</html>

<style lang="scss">
  body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main{
    padding: 10px 10px;
  }
</style>
